# MACHINE LEARNING BASICS (Started)

In [ ]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl

In [4]:
df = pd.read_csv("testfile.csv")

In [5]:
df.head()

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters,Revenue per worker
0,1,Walmart,Retail,"$ 6,11,289.00","$11,680.00","21,00,000",United States,"$ 2,91,090.00"
1,2,Saudi Aramco,Oil and gas,"$ 6,03,651.00","$ 1,59,069.00","70,496",Saudi Arabia,"$ 85,62,911.37"
2,3,Amazon,Retail,"$ 5,74,785.00","$30,425.00","15,25,000",United States,"$ 3,76,908.00"
3,4,State Grid Corporation of China,Electricity,"$ 5,30,009.00","$8,192.00","8,70,287",China,"$ 6,09,004.85"
4,5,Vitol,Commodities,"$ 5,05,000.00","$15,000.00","1,560",Switzerland,"$ 32,37,17,948.72"

In [6]:
df.head(10)

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters,Revenue per worker
0,1,Walmart,Retail,"$ 6,11,289.00","$11,680.00","21,00,000",United States,"$ 2,91,090.00"
1,2,Saudi Aramco,Oil and gas,"$ 6,03,651.00","$ 1,59,069.00","70,496",Saudi Arabia,"$ 85,62,911.37"
2,3,Amazon,Retail,"$ 5,74,785.00","$30,425.00","15,25,000",United States,"$ 3,76,908.00"
3,4,State Grid Corporation of China,Electricity,"$ 5,30,009.00","$8,192.00","8,70,287",China,"$ 6,09,004.85"
4,5,Vitol,Commodities,"$ 5,05,000.00","$15,000.00","1,560",Switzerland,"$ 32,37,17,948.72"
5,6,China National Petroleum Corporation,Oil and gas,"$ 4,83,019.00","$21,080.00","10,87,049",China,"$ 4,44,339.68"
6,7,China Petrochemical Corporation,Oil and gas,"$ 4,71,154.00","$9,657.00","5,27,487",China,"$ 8,93,204.95"
7,8,ExxonMobil,Oil and gas,"$ 4,13,680.00","$55,740.00","63,000",United States,"$ 65,66,349.21"
8,9,Apple,Electronics,"$ 3,94,328.00","$99,803.00","1,64,000",United States,"$ 24,04,439.02"
9,10,Shell,Oil and gas,"$ 3,86,201.00","$20,120.00","93,000",United Kingdom,"$ 41,52,698.92"

In [7]:
df.head(20)

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters,Revenue per worker
0,1,Walmart,Retail,"$ 6,11,289.00","$11,680.00","21,00,000",United States,"$ 2,91,090.00"
1,2,Saudi Aramco,Oil and gas,"$ 6,03,651.00","$ 1,59,069.00","70,496",Saudi Arabia,"$ 85,62,911.37"
2,3,Amazon,Retail,"$ 5,74,785.00","$30,425.00","15,25,000",United States,"$ 3,76,908.00"
3,4,State Grid Corporation of China,Electricity,"$ 5,30,009.00","$8,192.00","8,70,287",China,"$ 6,09,004.85"
4,5,Vitol,Commodities,"$ 5,05,000.00","$15,000.00","1,560",Switzerland,"$ 32,37,17,948.72"
5,6,China National Petroleum Corporation,Oil and gas,"$ 4,83,019.00","$21,080.00","10,87,049",China,"$ 4,44,339.68"
6,7,China Petrochemical Corporation,Oil and gas,"$ 4,71,154.00","$9,657.00","5,27,487",China,"$ 8,93,204.95"
7,8,ExxonMobil,Oil and gas,"$ 4,13,680.00","$55,740.00","63,000",United States,"$ 65,66,349.21"
8,9,Apple,Electronics,"$ 3,94,328.00","$99,803.00","1,64,000",United States,"$ 24,04,439.02"
9,10,Shell,Oil and gas,"$ 3,86,201.00","$20,120.00","93,000",United Kingdom,"$ 41,52,698.92"
10,11,UnitedHealth Group,Healthcare,"$ 3,24,162.00","$20,120.00","4,00,000",United States,"$ 8,10,405.00"
11,12,CVS Health,Healthcare,"$ 3,22,467.00","$4,149.00","2,59,500",United States,"$ 12,42,647.40"
12,13,Trafigura,Commodities,"$ 3,18,476.00","$6,994.00","12,347",Singapore,"$ 2,57,93,796.06"
13,14,China State Construction Engineering,Construction,"$ 3,05,885.00","$4,234.00","3,82,492",China,"$ 7,99,716.07"
14,15,Berkshire Hathaway,Financials,"$ 3,02,089.00","-$22,819.00","3,83,000",United States,"$ 7,88,744.13"
15,16,Volkswagen Group,Automotive,"$ 2,93,685.00","$15,233.00","6,75,805",Germany,"$ 4,34,570.62"
16,17,Uniper,Electricity,"$ 2,88,309.00","-$19,961.00","7,008",Germany,"$ 4,11,39,982.88"
17,18,Alphabet,Information technology,"$ 2,82,836.00","$59,972.00","1,90,234",United States,"$ 14,86,779.44"
18,19,McKesson,Healthcare,"$ 2,76,711.00","$3,560.00","48,000",United States,"$ 57,64,812.50"
19,20,Toyota,Automotive,"$ 2,74,491.00","$18,110.00","3,75,235",Japan,"$ 7,31,517.58"

In [8]:
df.head(30)

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters,Revenue per worker
0,1,Walmart,Retail,"$ 6,11,289.00","$11,680.00","21,00,000",United States,"$ 2,91,090.00"
1,2,Saudi Aramco,Oil and gas,"$ 6,03,651.00","$ 1,59,069.00","70,496",Saudi Arabia,"$ 85,62,911.37"
2,3,Amazon,Retail,"$ 5,74,785.00","$30,425.00","15,25,000",United States,"$ 3,76,908.00"
3,4,State Grid Corporation of China,Electricity,"$ 5,30,009.00","$8,192.00","8,70,287",China,"$ 6,09,004.85"
4,5,Vitol,Commodities,"$ 5,05,000.00","$15,000.00","1,560",Switzerland,"$ 32,37,17,948.72"
5,6,China National Petroleum Corporation,Oil and gas,"$ 4,83,019.00","$21,080.00","10,87,049",China,"$ 4,44,339.68"
6,7,China Petrochemical Corporation,Oil and gas,"$ 4,71,154.00","$9,657.00","5,27,487",China,"$ 8,93,204.95"
7,8,ExxonMobil,Oil and gas,"$ 4,13,680.00","$55,740.00","63,000",United States,"$ 65,66,349.21"
8,9,Apple,Electronics,"$ 3,94,328.00","$99,803.00","1,64,000",United States,"$ 24,04,439.02"
9,10,Shell,Oil and gas,"$ 3,86,201.00","$20,120.00","93,000",United Kingdom,"$ 41,52,698.92"
10,11,UnitedHealth Group,Healthcare,"$ 3,24,162.00","$20,120.00","4,00,000",United States,"$ 8,10,405.00"
11,12,CVS Health,Healthcare,"$ 3,22,467.00","$4,149.00","2,59,500",United States,"$ 12,42,647.40"
12,13,Trafigura,Commodities,"$ 3,18,476.00","$6,994.00","12,347",Singapore,"$ 2,57,93,796.06"
13,14,China State Construction Engineering,Construction,"$ 3,05,885.00","$4,234.00","3,82,492",China,"$ 7,99,716.07"
14,15,Berkshire Hathaway,Financials,"$ 3,02,089.00","-$22,819.00","3,83,000",United States,"$ 7,88,744.13"
15,16,Volkswagen Group,Automotive,"$ 2,93,685.00","$15,233.00","6,75,805",Germany,"$ 4,34,570.62"
16,17,Uniper,Electricity,"$ 2,88,309.00","-$19,961.00","7,008",Germany,"$ 4,11,39,982.88"
17,18,Alphabet,Information technology,"$ 2,82,836.00","$59,972.00","1,90,234",United States,"$ 14,86,779.44"
18,19,McKesson,Healthcare,"$ 2,76,711.00","$3,560.00","48,000",United States,"$ 57,64,812.50"
19,20,Toyota,Automotive,"$ 2,74,491.00","$18,110.00","3,75,235",Japan,"$ 7,31,517.58"
20,21,TotalEnergies,Oil and gas,"$ 2,63,310.00","$20,526.00","1,01,279",France,"$ 25,99,847.94"
21,22,Glencore,Commodities,"$ 2,55,984.00","$17,320.00","81,284",Switzerland,"$ 31,49,254.47"
22,23,BP,Oil and gas,"$ 2,48,891.00","-$2,487.00","67,600",United Kingdom,"$ 36,81,819.53"
23,24,Chevron,Oil and gas,"$ 2,46,252.00","$35,465.00","43,846",United States,"$ 56,16,293.39"
24,25,Cencora,Healthcare,"$ 2,38,587.00","$1,699.00","41,500",United States,"$ 57,49,084.34"
25,26,Samsung Electronics,Electronics,"$ 2,34,129.00","$42,398.00","2,70,372",South Korea,"$ 8,65,951.36"
26,27,Costco,Retail,"$ 2,26,954.00","$5,844.00","3,04,000",United States,"$ 7,46,559.21"
27,28,Foxconn,Electronics,"$ 2,22,535.00","$4,751.00","7,67,062",Taiwan,"$ 2,90,113.45"
28,29,Industrial and Commercial Bank of China,Financials,"$ 2,14,766.00","$53,589.00","4,27,587",China,"$ 5,02,274.39"
29,30,Microsoft,Information technology,"$ 2,11,915.00","$73,307.00","2,21,000",United States,"$ 8,97,149.32"

In [9]:
df.tail()

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters,Revenue per worker
45,46,Baowu,Steel,"$ 1,61,698.00","$2,493.00","2,45,675",China,"$ 6,58,178.49"
46,47,Schwarz Gruppe,Retail,"$ 1,59,800.00",...,"5,75,000",Germany,"$ 2,77,913.04"
47,48,Mitsubishi Group,Conglomerate,"$ 1,59,371.00","$8,723.00","79,706",Japan,"$ 19,99,485.61"
48,49,Ford Motor Company,Automotive,"$ 1,58,057.00","-$1,981.00","1,73,000",United States,"$ 9,13,624.28"
49,50,Mercedes-Benz Group,Automotive,"$ 1,57,403.00","$15,252.00","1,68,797",Germany,"$ 9,32,498.80"

In [10]:
df.tail(10)

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters,Revenue per worker
40,41,Valero Energy,Oil and gas,"$ 1,71,189.00","$11,528.00","9,743",United States,"$ 1,75,70,460.84"
41,42,Gazprom,Oil and gas,"$ 1,67,832.00","$17,641.00","4,68,000",Russia,"$ 3,58,615.38"
42,43,Cargill,Conglomerate,"$ 1,65,000.00",...,"1,55,000",United States,"$ 10,64,516.13"
43,44,China National Offshore Oil Corporation,Oil and gas,"$ 1,64,762.00","$16,988.00","81,775",China,"$ 20,14,821.16"
44,45,China Railway Construction Corporation,Construction,"$ 1,63,037.00","$1,800.00","3,42,098",China,"$ 4,76,579.81"
45,46,Baowu,Steel,"$ 1,61,698.00","$2,493.00","2,45,675",China,"$ 6,58,178.49"
46,47,Schwarz Gruppe,Retail,"$ 1,59,800.00",...,"5,75,000",Germany,"$ 2,77,913.04"
47,48,Mitsubishi Group,Conglomerate,"$ 1,59,371.00","$8,723.00","79,706",Japan,"$ 19,99,485.61"
48,49,Ford Motor Company,Automotive,"$ 1,58,057.00","-$1,981.00","1,73,000",United States,"$ 9,13,624.28"
49,50,Mercedes-Benz Group,Automotive,"$ 1,57,403.00","$15,252.00","1,68,797",Germany,"$ 9,32,498.80"

In [11]:
df.tail(20)

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters,Revenue per worker
30,31,China Construction Bank,Financials,"$ 2,02,753.00","$48,145.00","3,76,682",China,"$ 5,38,260.39"
31,32,Stellantis,Automotive,"$ 1,88,888.00","$17,669.00","2,72,367",Netherlands,"$ 6,93,505.45"
32,33,Agricultural Bank of China,Financials,"$ 1,87,061.00","$38,524.00","4,52,258",China,"$ 4,13,615.68"
33,34,Ping An Insurance,Financials,"$ 1,81,566.00","$12,454.00","3,44,223",China,"$ 5,27,466.21"
34,35,Cardinal Health,Healthcare,"$ 1,81,364.00",-$933.00,"46,035",United States,"$ 39,39,698.06"
35,36,Cigna,Healthcare,"$ 1,80,516.00","$6,668.00","70,231",United States,"$ 25,70,317.95"
36,37,Marathon Petroleum,Oil and gas,"$ 1,80,012.00","$14,516.00","17,800",United States,"$ 1,01,13,033.71"
37,38,Phillips 66,Oil and gas,"$ 1,75,702.00","$11,024.00","13,000",United States,"$ 1,35,15,538.46"
38,39,Sinochem,Chemicals,"$ 1,73,834.00",–$1,"2,20,760",China,"$ 7,87,434.32"
39,40,China Railway Engineering Corporation,Construction,"$ 1,71,669.00","$2,035.00","3,14,792",China,"$ 5,45,341.05"
40,41,Valero Energy,Oil and gas,"$ 1,71,189.00","$11,528.00","9,743",United States,"$ 1,75,70,460.84"
41,42,Gazprom,Oil and gas,"$ 1,67,832.00","$17,641.00","4,68,000",Russia,"$ 3,58,615.38"
42,43,Cargill,Conglomerate,"$ 1,65,000.00",...,"1,55,000",United States,"$ 10,64,516.13"
43,44,China National Offshore Oil Corporation,Oil and gas,"$ 1,64,762.00","$16,988.00","81,775",China,"$ 20,14,821.16"
44,45,China Railway Construction Corporation,Construction,"$ 1,63,037.00","$1,800.00","3,42,098",China,"$ 4,76,579.81"
45,46,Baowu,Steel,"$ 1,61,698.00","$2,493.00","2,45,675",China,"$ 6,58,178.49"
46,47,Schwarz Gruppe,Retail,"$ 1,59,800.00",...,"5,75,000",Germany,"$ 2,77,913.04"
47,48,Mitsubishi Group,Conglomerate,"$ 1,59,371.00","$8,723.00","79,706",Japan,"$ 19,99,485.61"
48,49,Ford Motor Company,Automotive,"$ 1,58,057.00","-$1,981.00","1,73,000",United States,"$ 9,13,624.28"
49,50,Mercedes-Benz Group,Automotive,"$ 1,57,403.00","$15,252.00","1,68,797",Germany,"$ 9,32,498.80"

In [12]:
df['Rank'].dtype

dtype('int64')

In [13]:
df['Name'].dtype

dtype('O')

In [14]:
df.head()

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters,Revenue per worker
0,1,Walmart,Retail,"$ 6,11,289.00","$11,680.00","21,00,000",United States,"$ 2,91,090.00"
1,2,Saudi Aramco,Oil and gas,"$ 6,03,651.00","$ 1,59,069.00","70,496",Saudi Arabia,"$ 85,62,911.37"
2,3,Amazon,Retail,"$ 5,74,785.00","$30,425.00","15,25,000",United States,"$ 3,76,908.00"
3,4,State Grid Corporation of China,Electricity,"$ 5,30,009.00","$8,192.00","8,70,287",China,"$ 6,09,004.85"
4,5,Vitol,Commodities,"$ 5,05,000.00","$15,000.00","1,560",Switzerland,"$ 32,37,17,948.72"

In [15]:
df['Name'].dtype

dtype('O')

In [16]:
df['Revenue'].dtype

dtype('O')

In [17]:
df.dtypes

Rank                   int64
Name                  object
Industry              object
Revenue               object
Profit                object
Employees             object
Headquarters          object
Revenue per worker    object
dtype: object

In [19]:
len(df)

50

In [20]:
df.columns

Index(['Rank', 'Name', 'Industry', 'Revenue', 'Profit', 'Employees',
       'Headquarters', 'Revenue per worker'],
      dtype='object')

In [21]:
df.axes

[RangeIndex(start=0, stop=50, step=1),
 Index(['Rank', 'Name', 'Industry', 'Revenue', 'Profit', 'Employees',
        'Headquarters', 'Revenue per worker'],
       dtype='object')]

In [22]:
df.ndim

2

In [23]:
df.size

400

In [24]:
df.shape

(50, 8)

In [25]:
df.values

array([[1, 'Walmart', 'Retail', '$\xa06,11,289.00', '$11,680.00',
        '21,00,000', 'United States', '$\xa02,91,090.00'],
       [2, 'Saudi Aramco', 'Oil and gas', '$\xa06,03,651.00',
        '$\xa01,59,069.00', '70,496', 'Saudi Arabia',
        '$\xa085,62,911.37'],
       [3, 'Amazon', 'Retail', '$\xa05,74,785.00', '$30,425.00',
        '15,25,000', 'United States', '$\xa03,76,908.00'],
       [4, 'State Grid Corporation of China', 'Electricity',
        '$\xa05,30,009.00', '$8,192.00', '8,70,287', 'China',
        '$\xa06,09,004.85'],
       [5, 'Vitol', 'Commodities', '$\xa05,05,000.00', '$15,000.00',
        '1,560', 'Switzerland', '$\xa032,37,17,948.72'],
       [6, 'China National Petroleum Corporation', 'Oil and gas',
        '$\xa04,83,019.00', '$21,080.00', '10,87,049', 'China',
        '$\xa04,44,339.68'],
       [7, 'China Petrochemical Corporation', 'Oil and gas',
        '$\xa04,71,154.00', '$9,657.00', '5,27,487', 'China',
        '$\xa08,93,204.95'],
       [8, 'ExxonMobil', 'Oil and gas', '$\xa04,13,680.00', '$55,740.00',
        '63,000', 'United States', '$\xa065,66,349.21'],
       [9, 'Apple', 'Electronics', '$\xa03,94,328.00', '$99,803.00',
        '1,64,000', 'United States', '$\xa024,04,439.02'],
       [10, 'Shell', 'Oil and gas', '$\xa03,86,201.00', '$20,120.00',
        '93,000', 'United Kingdom', '$\xa041,52,698.92'],
       [11, 'UnitedHealth Group', 'Healthcare', '$\xa03,24,162.00',
        '$20,120.00', '4,00,000', 'United States', '$\xa08,10,405.00'],
       [12, 'CVS Health', 'Healthcare', '$\xa03,22,467.00', '$4,149.00',
        '2,59,500', 'United States', '$\xa012,42,647.40'],
       [13, 'Trafigura', 'Commodities', '$\xa03,18,476.00', '$6,994.00',
        '12,347', 'Singapore', '$\xa02,57,93,796.06'],
       [14, 'China State Construction Engineering', 'Construction',
        '$\xa03,05,885.00', '$4,234.00', '3,82,492', 'China',
        '$\xa07,99,716.07'],
       [15, 'Berkshire Hathaway', 'Financials', '$\xa03,02,089.00',
        '-$22,819.00', '3,83,000', 'United States', '$\xa07,88,744.13'],
       [16, 'Volkswagen Group', 'Automotive', '$\xa02,93,685.00',
        '$15,233.00', '6,75,805', 'Germany', '$\xa04,34,570.62'],
       [17, 'Uniper', 'Electricity', '$\xa02,88,309.00', '-$19,961.00',
        '7,008', 'Germany', '$\xa04,11,39,982.88'],
       [18, 'Alphabet', 'Information technology', '$\xa02,82,836.00',
        '$59,972.00', '1,90,234', 'United States', '$\xa014,86,779.44'],
       [19, 'McKesson', 'Healthcare', '$\xa02,76,711.00', '$3,560.00',
        '48,000', 'United States', '$\xa057,64,812.50'],
       [20, 'Toyota', 'Automotive', '$\xa02,74,491.00', '$18,110.00',
        '3,75,235', 'Japan', '$\xa07,31,517.58'],
       [21, 'TotalEnergies', 'Oil and gas', '$\xa02,63,310.00',
        '$20,526.00', '1,01,279', 'France', '$\xa025,99,847.94'],
       [22, 'Glencore', 'Commodities', '$\xa02,55,984.00', '$17,320.00',
        '81,284', 'Switzerland', '$\xa031,49,254.47'],
       [23, 'BP', 'Oil and gas', '$\xa02,48,891.00', '-$2,487.00',
        '67,600', 'United Kingdom', '$\xa036,81,819.53'],
       [24, 'Chevron', 'Oil and gas', '$\xa02,46,252.00', '$35,465.00',
        '43,846', 'United States', '$\xa056,16,293.39'],
       [25, 'Cencora', 'Healthcare', '$\xa02,38,587.00', '$1,699.00',
        '41,500', 'United States', '$\xa057,49,084.34'],
       [26, 'Samsung Electronics', 'Electronics', '$\xa02,34,129.00',
        '$42,398.00', '2,70,372', 'South Korea', '$\xa08,65,951.36'],
       [27, 'Costco', 'Retail', '$\xa02,26,954.00', '$5,844.00',
        '3,04,000', 'United States', '$\xa07,46,559.21'],
       [28, 'Foxconn', 'Electronics', '$\xa02,22,535.00', '$4,751.00',
        '7,67,062', 'Taiwan', '$\xa02,90,113.45'],
       [29, 'Industrial and Commercial Bank of China', 'Financials',
        '$\xa02,14,766.00', '$53,589.00', '4,27,587', 'China',
        '$\xa05,02,274.39'],
       [30, 'Microsoft', 'Information technology', '$\xa02,11,915.00',
        '$73,307.00', '2,21,000', 'United States', '$\xa08,97,149.32'],
       [31, 'China Construction Bank', 'Financials', '$\xa02,02,753.00',
        '$48,145.00', '3,76,682', 'China', '$\xa05,38,260.39'],
       [32, 'Stellantis', 'Automotive', '$\xa01,88,888.00', '$17,669.00',
        '2,72,367', 'Netherlands', '$\xa06,93,505.45'],
       [33, 'Agricultural Bank of China', 'Financials',
        '$\xa01,87,061.00', '$38,524.00', '4,52,258', 'China',
        '$\xa04,13,615.68'],
       [34, 'Ping An Insurance', 'Financials', '$\xa01,81,566.00',
        '$12,454.00', '3,44,223', 'China', '$\xa05,27,466.21'],
       [35, 'Cardinal Health', 'Healthcare', '$\xa01,81,364.00',
        '-$933.00', '46,035', 'United States', '$\xa039,39,698.06'],
       [36, 'Cigna', 'Healthcare', '$\xa01,80,516.00', '$6,668.00',
        '70,231', 'United States', '$\xa025,70,317.95'],
       [37, 'Marathon Petroleum', 'Oil and gas', '$\xa01,80,012.00',
        '$14,516.00', '17,800', 'United States', '$\xa01,01,13,033.71'],
       [38, 'Phillips 66', 'Oil and gas', '$\xa01,75,702.00',
        '$11,024.00', '13,000', 'United States', '$\xa01,35,15,538.46'],
       [39, 'Sinochem', 'Chemicals', '$\xa01,73,834.00', '–$1',
        '2,20,760', 'China', '$\xa07,87,434.32'],
       [40, 'China Railway Engineering Corporation', 'Construction',
        '$\xa01,71,669.00', '$2,035.00', '3,14,792', 'China',
        '$\xa05,45,341.05'],
       [41, 'Valero Energy', 'Oil and gas', '$\xa01,71,189.00',
        '$11,528.00', '9,743', 'United States', '$\xa01,75,70,460.84'],
       [42, 'Gazprom', 'Oil and gas', '$\xa01,67,832.00', '$17,641.00',
        '4,68,000', 'Russia', '$\xa03,58,615.38'],
       [43, 'Cargill', 'Conglomerate', '$\xa01,65,000.00', '...',
        '1,55,000', 'United States', '$\xa010,64,516.13'],
       [44, 'China National Offshore Oil Corporation', 'Oil and gas',
        '$\xa01,64,762.00', '$16,988.00', '81,775', 'China',
        '$\xa020,14,821.16'],
       [45, 'China Railway Construction Corporation', 'Construction',
        '$\xa01,63,037.00', '$1,800.00', '3,42,098', 'China',
        '$\xa04,76,579.81'],
       [46, 'Baowu', 'Steel', '$\xa01,61,698.00', '$2,493.00',
        '2,45,675', 'China', '$\xa06,58,178.49'],
       [47, 'Schwarz Gruppe', 'Retail', '$\xa01,59,800.00', '...',
        '5,75,000', 'Germany', '$\xa02,77,913.04'],
       [48, 'Mitsubishi Group', 'Conglomerate', '$\xa01,59,371.00',
        '$8,723.00', '79,706', 'Japan', '$\xa019,99,485.61'],
       [49, 'Ford Motor Company', 'Automotive', '$\xa01,58,057.00',
        '-$1,981.00', '1,73,000', 'United States', '$\xa09,13,624.28'],
       [50, 'Mercedes-Benz Group', 'Automotive', '$\xa01,57,403.00',
        '$15,252.00', '1,68,797', 'Germany', '$\xa09,32,498.80']],
      dtype=object)

In [26]:
len(df)

50

In [27]:
df.describe()

           Rank
count  50.00000
mean   25.50000
std    14.57738
min     1.00000
25%    13.25000
50%    25.50000
75%    37.75000
max    50.00000

In [28]:
df.max()

Rank                             50
Name                        Walmart
Industry                      Steel
Revenue               $ 6,11,289.00
Profit                          –$1
Employees                    93,000
Headquarters          United States
Revenue per worker    $ 9,32,498.80
dtype: object

In [29]:
df.min()

Rank                                           1
Name                  Agricultural Bank of China
Industry                              Automotive
Revenue                            $ 1,57,403.00
Profit                                 $1,699.00
Employees                               1,01,279
Headquarters                               China
Revenue per worker              $ 1,01,13,033.71
dtype: object

In [2]:
import pandas as pd

<ipython-input-2-7dd3504c366f>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv("testfile.csv")

In [6]:
df = pd.DataFrame()

In [7]:
df.mean()

Series([], dtype: float64)

In [8]:
df = pd.read_csv("testfile.csv")

In [12]:
df['Rank'].mean()

25.5

In [13]:
df['Rank'].median()

25.5

In [3]:
import pandas as pd
df = pd.read_csv("testfile.csv")

<ipython-input-3-24243c58d786>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
df['Rank'].std()

14.577379737113251

In [5]:
df.head()

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters,Revenue per worker
0,1,Walmart,Retail,"$ 6,11,289.00","$11,680.00","21,00,000",United States,"$ 2,91,090.00"
1,2,Saudi Aramco,Oil and gas,"$ 6,03,651.00","$ 1,59,069.00","70,496",Saudi Arabia,"$ 85,62,911.37"
2,3,Amazon,Retail,"$ 5,74,785.00","$30,425.00","15,25,000",United States,"$ 3,76,908.00"
3,4,State Grid Corporation of China,Electricity,"$ 5,30,009.00","$8,192.00","8,70,287",China,"$ 6,09,004.85"
4,5,Vitol,Commodities,"$ 5,05,000.00","$15,000.00","1,560",Switzerland,"$ 32,37,17,948.72"

In [9]:
df.sample([10])

<class 'TypeError'>: '<' not supported between instances of 'list' and 'int'

In [10]:
df.dropna()

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters,Revenue per worker
0,1,Walmart,Retail,"$ 6,11,289.00","$11,680.00","21,00,000",United States,"$ 2,91,090.00"
1,2,Saudi Aramco,Oil and gas,"$ 6,03,651.00","$ 1,59,069.00","70,496",Saudi Arabia,"$ 85,62,911.37"
2,3,Amazon,Retail,"$ 5,74,785.00","$30,425.00","15,25,000",United States,"$ 3,76,908.00"
3,4,State Grid Corporation of China,Electricity,"$ 5,30,009.00","$8,192.00","8,70,287",China,"$ 6,09,004.85"
4,5,Vitol,Commodities,"$ 5,05,000.00","$15,000.00","1,560",Switzerland,"$ 32,37,17,948.72"
5,6,China National Petroleum Corporation,Oil and gas,"$ 4,83,019.00","$21,080.00","10,87,049",China,"$ 4,44,339.68"
6,7,China Petrochemical Corporation,Oil and gas,"$ 4,71,154.00","$9,657.00","5,27,487",China,"$ 8,93,204.95"
7,8,ExxonMobil,Oil and gas,"$ 4,13,680.00","$55,740.00","63,000",United States,"$ 65,66,349.21"
8,9,Apple,Electronics,"$ 3,94,328.00","$99,803.00","1,64,000",United States,"$ 24,04,439.02"
9,10,Shell,Oil and gas,"$ 3,86,201.00","$20,120.00","93,000",United Kingdom,"$ 41,52,698.92"
10,11,UnitedHealth Group,Healthcare,"$ 3,24,162.00","$20,120.00","4,00,000",United States,"$ 8,10,405.00"
11,12,CVS Health,Healthcare,"$ 3,22,467.00","$4,149.00","2,59,500",United States,"$ 12,42,647.40"
12,13,Trafigura,Commodities,"$ 3,18,476.00","$6,994.00","12,347",Singapore,"$ 2,57,93,796.06"
13,14,China State Construction Engineering,Construction,"$ 3,05,885.00","$4,234.00","3,82,492",China,"$ 7,99,716.07"
14,15,Berkshire Hathaway,Financials,"$ 3,02,089.00","-$22,819.00","3,83,000",United States,"$ 7,88,744.13"
15,16,Volkswagen Group,Automotive,"$ 2,93,685.00","$15,233.00","6,75,805",Germany,"$ 4,34,570.62"
16,17,Uniper,Electricity,"$ 2,88,309.00","-$19,961.00","7,008",Germany,"$ 4,11,39,982.88"
17,18,Alphabet,Information technology,"$ 2,82,836.00","$59,972.00","1,90,234",United States,"$ 14,86,779.44"
18,19,McKesson,Healthcare,"$ 2,76,711.00","$3,560.00","48,000",United States,"$ 57,64,812.50"
19,20,Toyota,Automotive,"$ 2,74,491.00","$18,110.00","3,75,235",Japan,"$ 7,31,517.58"
20,21,TotalEnergies,Oil and gas,"$ 2,63,310.00","$20,526.00","1,01,279",France,"$ 25,99,847.94"
21,22,Glencore,Commodities,"$ 2,55,984.00","$17,320.00","81,284",Switzerland,"$ 31,49,254.47"
22,23,BP,Oil and gas,"$ 2,48,891.00","-$2,487.00","67,600",United Kingdom,"$ 36,81,819.53"
23,24,Chevron,Oil and gas,"$ 2,46,252.00","$35,465.00","43,846",United States,"$ 56,16,293.39"
24,25,Cencora,Healthcare,"$ 2,38,587.00","$1,699.00","41,500",United States,"$ 57,49,084.34"
25,26,Samsung Electronics,Electronics,"$ 2,34,129.00","$42,398.00","2,70,372",South Korea,"$ 8,65,951.36"
26,27,Costco,Retail,"$ 2,26,954.00","$5,844.00","3,04,000",United States,"$ 7,46,559.21"
27,28,Foxconn,Electronics,"$ 2,22,535.00","$4,751.00","7,67,062",Taiwan,"$ 2,90,113.45"
28,29,Industrial and Commercial Bank of China,Financials,"$ 2,14,766.00","$53,589.00","4,27,587",China,"$ 5,02,274.39"
29,30,Microsoft,Information technology,"$ 2,11,915.00","$73,307.00","2,21,000",United States,"$ 8,97,149.32"
30,31,China Construction Bank,Financials,"$ 2,02,753.00","$48,145.00","3,76,682",China,"$ 5,38,260.39"
31,32,Stellantis,Automotive,"$ 1,88,888.00","$17,669.00","2,72,367",Netherlands,"$ 6,93,505.45"
32,33,Agricultural Bank of China,Financials,"$ 1,87,061.00","$38,524.00","4,52,258",China,"$ 4,13,615.68"
33,34,Ping An Insurance,Financials,"$ 1,81,566.00","$12,454.00","3,44,223",China,"$ 5,27,466.21"
34,35,Cardinal Health,Healthcare,"$ 1,81,364.00",-$933.00,"46,035",United States,"$ 39,39,698.06"
35,36,Cigna,Healthcare,"$ 1,80,516.00","$6,668.00","70,231",United States,"$ 25,70,317.95"
36,37,Marathon Petroleum,Oil and gas,"$ 1,80,012.00","$14,516.00","17,800",United States,"$ 1,01,13,033.71"
37,38,Phillips 66,Oil and gas,"$ 1,75,702.00","$11,024.00","13,000",United States,"$ 1,35,15,538.46"
38,39,Sinochem,Chemicals,"$ 1,73,834.00",–$1,"2,20,760",China,"$ 7,87,434.32"
39,40,China Railway Engineering Corporation,Construction,"$ 1,71,669.00","$2,035.00","3,14,792",China,"$ 5,45,341.05"
40,41,Valero Energy,Oil and gas,"$ 1,71,189.00","$11,528.00","9,743",United States,"$ 1,75,70,460.84"
41,42,Gazprom,Oil and gas,"$ 1,67,832.00","$17,641.00","4,68,000",Russia,"$ 3,58,615.38"
42,43,Cargill,Conglomerate,"$ 1,65,000.00",...,"1,55,000",United States,"$ 10,64,516.13"
43,44,China National Offshore Oil Corporation,Oil and gas,"$ 1,64,762.00","$16,988.00","81,775",China,"$ 20,14,821.16"
44,45,China Railway Construction Corporation,Construction,"$ 1,63,037.00","$1,800.00","3,42,098",China,"$ 4,76,579.81"
45,46,Baowu,Steel,"$ 1,61,698.00","$2,493.00","2,45,675",China,"$ 6,58,178.49"
46,47,Schwarz Gruppe,Retail,"$ 1,59,800.00",...,"5,75,000",Germany,"$ 2,77,913.04"
47,48,Mitsubishi Group,Conglomerate,"$ 1,59,371.00","$8,723.00","79,706",Japan,"$ 19,99,485.61"
48,49,Ford Motor Company,Automotive,"$ 1,58,057.00","-$1,981.00","1,73,000",United States,"$ 9,13,624.28"
49,50,Mercedes-Benz Group,Automotive,"$ 1,57,403.00","$15,252.00","1,68,797",Germany,"$ 9,32,498.80"

In [12]:
df.columns

Index(['Rank', 'Name', 'Industry', 'Revenue', 'Profit', 'Employees',
       'Headquarters', 'Revenue per worker'],
      dtype='object')

In [13]:
df.describe()

           Rank
count  50.00000
mean   25.50000
std    14.57738
min     1.00000
25%    13.25000
50%    25.50000
75%    37.75000
max    50.00000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                50 non-null     int64
 1   Name                50 non-null     object
 2   Industry            50 non-null     object
 3   Revenue             50 non-null     object
 4   Profit              50 non-null     object
 5   Employees           50 non-null     object
 6   Headquarters        50 non-null     object
 7   Revenue per worker  50 non-null     object
dtypes: int64(1), object(7)
memory usage: 1.8+ KB

In [20]:
df['Rank'].iloc[[0,29]].mean()

15.5

In [22]:
df['Rank'].head(20).mean()

10.5

In [23]:
df['Rank'].var()

212.5

In [25]:
df['Name'].count()

50